body{
  background-color: #083b4c;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  text-align: center;
  font-size: 60px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 100px;
  height: 100px;
  background-color: #042631;
  color: black;
}

.box-blue{
  background-color: #1389b2;
}

.box-green{
  background-color: #0bd6a1;
}

.box-yellow{
  background-color: yellow;
}

.box-red{
  background-color: red;
}